<?php $this->load->view('web/common/m_header.html');?>
	<article class="subscribe_detail">
		<div class="subscribe_info">
			<div class="info_layer">
				<div class="info_items">
					<img src="/static/image/mobile/pic3.png">
				</div>
				<div class="info_reveal">
					<img src="/static/image/mobile/pic1.png">
				</div>
			</div>
		</div>
	</article>
	<article class="main_wrap">
		<div class="subscribe_detail">
			<article class="subscribe_intr">
				<section>
					<h2>使用电脑浏览器登录订阅：</h2>
					<h3><a href="http://www.biomassinfo.cn">http://biomassinfo.cn</a></h3>
					<p>
						生物质产业信息资源平台是由中科院文献情报中心与中科院长春分院合作建立，主要针对生物质相关的产业信息、市场信息等进行监测，从生物质能源、生物基材料、生物基化学品、生物质预处理等几个方向进行跟踪监测，提供一系列的领域信息跟踪和保障服务。
					</p>	
				</section>
			</article>
		</div>
	</article>
<?php $this->load->view('web/common/m_footer.html');?>