<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>生物质产业信息资源平台</title>
		<link rel='shortcut icon' href="/static/image/favicon.png"/>
		<link href="/static/admin/bootstrap-3.3.5-dist/css/bootstrap.min.css" title="" rel="stylesheet" />
		<link title="" href="/static/admin/css/inner-style.css" rel="stylesheet" type="text/css"  />
		<script src="/static/admin/script/jquery-1.11.1.min.js" type="text/javascript"></script>
	</head>

	<style type="text/css">
		html { overflow-x:hidden; }
	</style>
	<body style="height: 100%;">