<link rel="stylesheet" type="text/css" href="/static/admin/css/search.css?v=<?=$version?>">
<div class="search-box row">
	<div class="col-xs-8">
		<div class="btn-group pull-left" role="group" aria-label="...">
			<button type="button" class="btn btn-default" id="add"><span class="glyphicon glyphicon-plus-sign "></span> 新增分类</button>
		</div>
	</div>
</div>

<script src="/static/admin/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('#pg').hide();
	});
	
	$("#add").on('click',function(){
		window.parent.openTab('新增-主题分类', '/admin/category/add');
	});
	
	function tabEditAction(id){
		window.parent.openTab('修改-主题分类', '/admin/category/edit?id='+id);
	}
	
</script>