
<link rel="stylesheet" type="text/css" href="/static/admin/css/common.css?v=<?=$version?>">
<style>
    .text-algin{
        padding-top: 5px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">
            <div class="info-center">
                <div class="page-header">
                    <div class="pull-left ">
                        <h4><?=$pageTitle?></h4>
                    </div>
                    <div class="pull-right" style="margin-top: 15px;">
                        <span onclick="javascript:window.location.reload();"  class="glyphicon glyphicon-refresh"></span>
                    </div>
                </div>
                <div class="indentify-class" style="margin-top:15px;">
                    <p class="text-sub text-default ">
                        <?php if(isset($pageTips)):?>
                            <?=$pageTips?>
                        <?php endif;?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 功能区 -->
<div class="row">
    <div class="col-md-12 btn-area">
        <div class="btn-group pull-left" role="group" aria-label="...">
            
        </div>
    </div>
</div>
<div class="row" id="main_div" style="overflow-y: scroll;">
    <div class="col-md-12" id="child_div">
        <div class="panel-body">
            <form class="form-horizontal tasi-form" role="form" name="add_form" onsubmit="javascript:return false;">
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>监测KEY</label>
                    <div class="col-sm-4 text-algin">
                        <input type="text" name="key" placeholder="" class="form-control input-sm" value="<?=$project['key']?>" disabled required>
                    </div>
                    <div class="col-sm-6">
                        <em><font color="red">*</font></em>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>名称</label>
                    <div class="col-sm-4">
                        <input type="text" name="title" placeholder="" class="form-control input-sm" value="<?=$project['title']?>" required>
                    </div>
                    <div class="col-sm-6">
                        <em><font color="red">*</font></em>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>机构</label>
                    <div class="col-sm-4">
                        <input type="text" name="institute" placeholder="" class="form-control input-sm" value="<?=$project['institute']?>" required>
                    </div>
                    <div class="col-sm-6">
                        <em><font color="red">*</font></em>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>摘要</label>
                    <div class="col-sm-4">
                        <textarea name="enabstract" class="form-control input-sm" style="width:700px;height: 200px;"><?=$project['enabstract']?></textarea>
                    </div>
                    <div class="col-sm-6">
                        <em><font color="red">*</font></em>
                    </div>
                </div>

                <!--<div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>摘要</label>
                    <div class="col-sm-8">
                        <textarea  id="addons_UEditor" required style="width: 700px;height:350px;"  name="enabstract"><?=$project['enabstract']?></textarea>
                    </div>
                    <div class="col-sm-4">
                        <em><font color="red">*</font></em>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="col-sm-2 control-label text-right"><font color="red"></font>内容</label>
                    <div class="col-sm-8">
                        <textarea  id="addons_UEditor" required style="width: 700px;height:350px;"  name="content"><?=$project['content']?></textarea>
                    </div>
                    <div class="col-sm-4">
                        <em><font color="red">*</font></em>
                    </div>
                </div>

                <input type="hidden" name="id" value="<?=$project['id']?>">

                        
                <hr>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                      <button class="btn btn-danger" id="save_data" type="submit">保存</button>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button class="btn btn-default " id="cancel" type="button">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- 文件上传 加载js -->
<?php $this->load->view('public/plupload.html');?>
<?php $this->load->view('public/ueditor.html');?>
<!-- 文件上传 加载js -->

<script src="/static/admin/js/resizewindow.js?v=<?=$version?>"></script>
<script type="text/javascript">
    $(function(){
        //保存
        $('#save_data').on('click',function(){
            var data = $('form[name=add_form]').serialize();
            console.log(data);
            ajaxRequest({'form_data':data},'/admin/monitor/save','save_data','POST',3);
            return false;
        });



        
    });
</script>