<link rel="stylesheet" type="text/css" href="/static/admin/css/search.css?v=<?=$version?>">
<div class="search-box row">
    <div class="col-xs-8">
        <div class="btn-group pull-left" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="add" ><span class="glyphicon glyphicon-plus-sign " ></span> 新增报告</button>
        </div>
    </div>
    <div class="col-xs-4">
        <form class="form-horizontal" method="post" id="_CustomizedQueryForm" role="form" action="javascript:void(0);">
            <div class="col-lg-12 pull-right">
                <div class="input-group input-sm">
                    <input type="text" class="form-control input-sm" id="title" name="title|like" placeholder="报告名称">
                    <span class="input-group-btn">
                        <button class="btn btn-default input-sm" type="button" id="_CustomizedQueryFormSubmit">
                            <span class="glyphicon glyphicon-search"></span>搜索
                        </button>
                        <!-- <button type="button" class="btn btn-default input-sm" id="show_advance_search" tabindex="-1" aria-expanded="false">
                            <span id="span-icon" class="glyphicon glyphicon-zoom-in"></span>
                        </button> -->
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 pull-right" id="advance_search" style="border: 1px dotted #ddd;margin:5px 20px; padding-top:10px;padding-bottom:10px;width:96%;display: none;">
                <!-- <div class="col-xs-4 search_input">
                    <label for="title" class="col-xs-4 control-label search_text"><small>姓名</small></label>
                    <div class="col-xs-8 search_myinput">
                         <input type="text" class="form-control input-sm" id="real_name" name="real_name|like" placeholder="真实姓名">
                     </div>
                </div>

                <div class="col-xs-4 search_input">
                    <label for="role_id" class="col-xs-4 control-label search_text"><small>角色</small></label>
                    <div class="col-xs-8 search_myinput">
                        <input type="text" class="form-control input-sm" id="real_name" name="real_name|like" placeholder="真实姓名">
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>
<script src="/static/admin/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // 新增
    $('#add').on('click',function(){
        $url = "/admin/report/add";
        window.parent.openTab('新增报告', $url);
    });
</script>