			
<?php $this->load->view('web/common/header_tab.html');?>

<div class="floor_main">
	<div class="wrap">
		<div class="handshake_center">
			<h2>科技成果对接，领域专家咨询</h2>
			<div class="info">
				<span><?php echo $data["expert_num"]?></span><p style="margin-right: 20px;">位中科院专家入驻</p>
				<span><?php echo $data["project_num"]?></span><p>项技术需求方案等待对接</p>
			</div>
			<div class="btn_group">
				<a class="overt" href="/requirement">专利技术</a>
				<a class="cooperation" href="/project">项目合作</a>
				<a class="consult" href="/expert">领域专家</a>
			</div>
		</div>
	</div>
</div>

<?php $this->load->view('web/common/footer_tab.html');?>


















