
<?php $this->load->view('web/common/header_tab.html');?>

<div class="floor_main">
	<div class="wrap">
		<div class="report_left">
			<div class="title clearfix">
				<h2>深度定制</h2><h2 class="bold">生物质产业技术报告</h2>
			</div>
			<h3>面向市场拓展、技术引进、技术研发决策提供服务</h3>
			<div class="btn_group">
				<a class="custom" target="_blank" href="/report/custom_report">报告定制</a>
				<a class="more" target="_blank" href="/report/more_reports">更多报告&gt;&gt;</a>
			</div>
		</div>
		<div class="report_right"><img src="/static/image/home/report.png"></div>
	</div>
</div>

<?php $this->load->view('web/common/footer_tab.html');?>


















