			
<?php $this->load->view('web/common/header_tab.html');?>

<div class="floor_main">
	<div class="wrap">
		<div class="service_left"><img src="/static/image/home/service.png" /></div>
		<div class="service_right">
			<h2>中国科学院专业文献服务团队</h2>
			<h3>论文、专利等各类文献全文快速获取、项目新颖性权威认证、最新研究全面代查</h3>
			<div class="btn_group">
				<a class="literature" href="/service/literature">文献传递</a>
				<a class="science" href="/technology">科技查新</a>
				<a class="special" href="/subject">专题检索</a>
			</div>
		</div>
	</div>
</div>

<?php $this->load->view('web/common/footer_tab.html');?>


















