
<?php $this->load->view('web/common/header_height.html');?>

<div class="floor_descr">
	<div class="wrap">
		<div class="descr">
			<h2>生物质基化学品</h2>
			<h3>近年来,可再生生物资源、工业生物技术和绿色化学工业成为热题,其中提到生物基化学品。进入21世纪,石化资源与能源危机、环境危机日益加剧,为了实现人类社会</h3>
			<div class="btn_link">
				<a href="javascript:;" target="_blank">微信订阅信息推送&gt;&gt;</a>
				<a href="javascript:;" target="_blank">申请增加监测信息来源&gt;&gt;</a>
			</div>
		</div>
	</div>
</div>

<div class="floor_content">
	<div class="wrap clearfix">
		<div class="title_content box_sizing">
			<ul class="clearfix">
				<li><a target="_blank">生物质科普知识&nbsp;(1009)</a></li>
				<li><a target="_blank">生物质基材料&nbsp;(434590)</a></li>
				<li class="active"><a target="_blank">生物质基化学品&nbsp;(3004)</a></li>
				<li><a target="_blank">生物质能源&nbsp;(720)</a></li>
				<li><a target="_blank">生物质转化&nbsp;(720)</a></li>
			</ul>
		</div>
		<div class="left_content">
			<div class="list_group">
				<h2>监测类型</h2>
				<ul>
					<li class="clearfix"><input type="checkbox"><p>技术信息</p></li>
					<li class="clearfix"><input type="checkbox"><p>市场信息</p></li>
				</ul>
			</div>
			<div class="list_group">
				<h2>产业领域</h2>
				<ul>
					<li class="clearfix"><input type="checkbox"><p>运输燃料</p></li>
					<li class="clearfix"><input type="checkbox"><p>生物燃气</p></li>
					<li class="clearfix"><input type="checkbox"><p>固体燃料</p></li>
					<li class="clearfix"><input type="checkbox"><p>生物塑料</p></li>
					<li class="clearfix"><input type="checkbox"><p>药物</p></li>
				</ul>
				<a target="_blank">更多&gt;&gt;</a>
			</div>
			<div class="list_group">
				<h2>单位机构</h2>
				<ul>
					<li class="clearfix"><input type="checkbox"><p>中国科学院生物所</p></li>
					<li class="clearfix"><input type="checkbox"><p>北京生物燃气公司</p></li>
					<li class="clearfix"><input type="checkbox"><p>上海固体燃料有限公司</p></li>
					<li class="clearfix"><input type="checkbox"><p>天津生物塑料研究所</p></li>
					<li class="clearfix"><input type="checkbox"><p>辽宁药物学研究所</p></li>
				</ul>
				<a target="_blank">更多&gt;&gt;</a>
			</div>
		</div>
		<div class="right_chemicals">
			<ul>
				<li>
					<h1>太阳能产业协会</h1>
					<p>今天&nbsp;15:00</p>
					<a target="_blank">
						<h2>安徽省能源局核准5亿元长丰农林生物质发电项目</h2>
						<h3>生物质能源网快讯：安徽省能源局日前批复长丰县农林生物质发电项目。根据《安徽省人民政府关于加快发展农作物秸秆发电的意见》，长丰县左店乡人民政府与安徽皖能环保发电公司达成协议，拟在左店乡境内建设一</h3>
					</a>
					<div class="assess_btns clearfix">
						<span>没用</span><span>了解即可</span><span>以备参考</span><span>有建设性</span><span class="last">重大变革</span>
					</div>
				</li>
				<li>
					<h1>太阳能产业协会</h1>
					<p>今天&nbsp;15:00</p>
					<a target="_blank">
						<h2>安徽省能源局核准5亿元长丰农林生物质发电项目</h2>
						<h3>生物质能源网快讯：安徽省能源局日前批复长丰县农林生物质发电项目。根据《安徽省人民政府关于加快发展农作物秸秆发电的意见》，长丰县左店乡人民政府与安徽皖能环保发电公司达成协议，拟在左店乡境内建设一</h3>
					</a>
					<div class="assess_btns clearfix">
						<span>没用</span><span>了解即可</span><span>以备参考</span><span>有建设性</span><span class="last">重大变革</span>
					</div>
				</li>
				<li>
					<h1>太阳能产业协会</h1>
					<p>今天&nbsp;15:00</p>
					<a target="_blank">
						<h2>安徽省能源局核准5亿元长丰农林生物质发电项目</h2>
						<h3>生物质能源网快讯：安徽省能源局日前批复长丰县农林生物质发电项目。根据《安徽省人民政府关于加快发展农作物秸秆发电的意见》，长丰县左店乡人民政府与安徽皖能环保发电公司达成协议，拟在左店乡境内建设一</h3>
					</a>
					<div class="assess_btns clearfix">
						<span>没用</span><span>了解即可</span><span>以备参考</span><span>有建设性</span><span class="last">重大变革</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php $this->load->view('web/common/footer_height.html');?>