
<?php $this->load->view('web/common/header_height.html');?>

<div class="floor_descr" style="height: 140px;">
	<div class="wrap search_wrap">
		<div class="search_bar clearfix">
			<input type="text">
			<span>搜索</span>
			<a>高级检索</a>
		</div>
	</div>
</div>

<div class="floor_content">
	<div class="wrap clearfix">
		<div class="title_content box_sizing">
			<ul class="clearfix">
				<li class="active"><a target="_blank">专利&nbsp;(434590)</a></li>
				<li><a target="_blank">标准&nbsp;(3004)</a></li>
			</ul>
		</div>
		<div class="left_content">
			<div class="list_group">
				<h2>产业领域</h2>
				<ul>
					<li class="clearfix"><input type="checkbox"><p>运输燃料</p></li>
					<li class="clearfix"><input type="checkbox"><p>生物燃气</p></li>
					<li class="clearfix"><input type="checkbox"><p>固体燃料</p></li>
					<li class="clearfix"><input type="checkbox"><p>生物塑料</p></li>
					<li class="clearfix"><input type="checkbox"><p>药物</p></li>
				</ul>
				<a target="_blank">更多&gt;&gt;</a>
			</div>
			<div class="list_group">
				<h2>单位机构</h2>
				<ul>
					<li class="clearfix"><input type="checkbox"><p>中国科学院生物所</p></li>
					<li class="clearfix"><input type="checkbox"><p>北京生物燃气公司</p></li>
					<li class="clearfix"><input type="checkbox"><p>上海固体燃料有限公司</p></li>
					<li class="clearfix"><input type="checkbox"><p>天津生物塑料研究所</p></li>
					<li class="clearfix"><input type="checkbox"><p>辽宁药物学研究所</p></li>
				</ul>
				<a target="_blank">更多&gt;&gt;</a>
			</div>
		</div>
		<div class="right_search">
			<ul>
				<li>
					<a target="_blank">
						<div class="title clearfix">
							<h2>[发明] 大数据服务器 - 201610481506.8</h2><span>审中-实审</span>
						</div>
						<h3>摘要:本发明提出一种大数据轮廓类挖掘方法。在该技术中，我们首先设计了一种k路轮廓层次树，在此基础上，进而将大数据上的各轮廓对象的位置信息组织成k路轮廓层次树，最后在基于密度聚类轮廓对象的过程中，利用k路轮廓层次树的多个剪枝性质来快速产生所有的轮廓</h3>
					</a>
					<div class="clearfix">
						<h4>申请人：</h4>
						<p>广西师范大学</p>
						<h4>申请日：</h4>
						<p>2013-09-29</p>
						<h4>主分类号：</h4>
						<p>G06F17/30(2006.01)I</p>
					</div>
				</li>
				<li>
					<a target="_blank">
						<div class="title clearfix">
							<h2>[发明] 大数据服务器 - 201610481506.8</h2><span>审中-实审</span>
						</div>
						<h3>摘要:本发明提出一种大数据轮廓类挖掘方法。在该技术中，我们首先设计了一种k路轮廓层次树，在此基础上，进而将大数据上的各轮廓对象的位置信息组织成k路轮廓层次树，最后在基于密度聚类轮廓对象的过程中，利用k路轮廓层次树的多个剪枝性质来快速产生所有的轮廓</h3>
					</a>
					<div class="clearfix">
						<h4>申请人：</h4>
						<p>广西师范大学</p>
						<h4>申请日：</h4>
						<p>2013-09-29</p>
						<h4>主分类号：</h4>
						<p>G06F17/30(2006.01)I</p>
					</div>
				</li>
				<li>
					<a target="_blank">
						<div class="title clearfix">
							<h2>[发明] 大数据服务器 - 201610481506.8</h2><span>审中-实审</span>
						</div>
						<h3>摘要:本发明提出一种大数据轮廓类挖掘方法。在该技术中，我们首先设计了一种k路轮廓层次树，在此基础上，进而将大数据上的各轮廓对象的位置信息组织成k路轮廓层次树，最后在基于密度聚类轮廓对象的过程中，利用k路轮廓层次树的多个剪枝性质来快速产生所有的轮廓</h3>
					</a>
					<div class="clearfix">
						<h4>申请人：</h4>
						<p>广西师范大学</p>
						<h4>申请日：</h4>
						<p>2013-09-29</p>
						<h4>主分类号：</h4>
						<p>G06F17/30(2006.01)I</p>
					</div>
				</li>
				<li>
					<a target="_blank">
						<div class="title on clearfix">
							<h2>[发明] 大数据服务器 - 201610481506.8</h2><span>有权</span>
						</div>
						<h3>摘要:本发明提出一种大数据轮廓类挖掘方法。在该技术中，我们首先设计了一种k路轮廓层次树，在此基础上，进而将大数据上的各轮廓对象的位置信息组织成k路轮廓层次树，最后在基于密度聚类轮廓对象的过程中，利用k路轮廓层次树的多个剪枝性质来快速产生所有的轮廓</h3>
					</a>
					<div class="clearfix">
						<h4>申请人：</h4>
						<p>广西师范大学</p>
						<h4>申请日：</h4>
						<p>2013-09-29</p>
						<h4>主分类号：</h4>
						<p>G06F17/30(2006.01)I</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<?php $this->load->view('web/common/footer_height.html');?>