
<?php $this->load->view('web/common/header_height.html');?>

<div class="floor_content">
	<div class="wrap" style="background-color: #fff;">
		<div class="order_head"><h2>申请专家详情</h2></div>
		<div class="order_details">
			<ul class="order_details_body">
				<li>
					<h3>申请专家信息</h3>
					<ul class="order_details_body_item">
						<li><p>申请编号：</p><p><?php echo $report["expert_no"] ?></p></li>
                        <li><p>专家照片：</p><p><img src="<?php echo $report['pic'] ?>"></p></li>
						<li><p>专家姓名：</p><p><?php echo $report["name"] ?></p></li>
                        <li><p>手机号：</p><p><?php echo $report["phone"] ?></p></li>
						<li><p>专家单位：</p><p><?php echo $report["company"] ?></p></li>
                        <li><p>单位地址：</p><p><?php echo $report["location"] ?></p></li>
                        <li><p>职务：</p><p><?php echo $report["job"] ?></p></li>
                        <li><p>电子邮箱：</p><p><?php echo $report["email"] ?></p></li>
                        <li><p>专家类型：</p><p><?php echo $report["type"] ?></p></li>
						<li><p>研究领域：</p><p><?php echo $report["domain"] ?></p></li>
                        <li><p>简历介绍：</p><p><?php echo $report["resume"] ?></p></li>
                        <li><p>科研项目：</p><p><?php echo $report["project"] ?></p></li>
                        <li><p>代表论著：</p><p><?php echo $report["works"] ?></p></li>
					</ul>
				</li>
				<li>
					<h3>主要联系人</h3>
					<ul class="order_details_body_item">
						<li><p>姓名：</p><p><?php echo $report["username"] ?></p></li>
						<li><p>单位：</p><p><?php echo $report["company"] ?></p></li>
						<li><p>手机：</p><p><?php echo $report["phone"] ?></p></li>
						<li><p>邮箱：</p><p><?php echo $report["email"] ?></p></li>
					</ul>
				</li>
				<?php foreach($report["other_conn"] as $conn ):?>
				<li>
					<h3>其他联系人</h3>
					<ul class="order_details_body_item">
						<li><p>姓名：</p><p><?php echo $conn["username"] ?></p></li>
						<li><p>单位：</p><p><?php echo $conn["company"] ?></p></li>
						<li><p>手机：</p><p><?php echo $conn["phone"] ?></p></li>
						<li><p>邮箱：</p><p><?php echo $conn["email"] ?></p></li>
					</ul>
				</li>
				<?php endforeach;?>
				<li>
					<h3>状态</h3>
					<ul class="order_details_body_item">
						<li><p>提交日期：</p><p><?php echo $report["add_time"] ?></p></li>
						<li><p>处理日期：</p><p><?php echo $report["edit_time"] ?></p></li>
						<!-- class: running（处理中）／completed（已完成）／reject（已驳回） -->
						<li><p>处理状态：</p><p class=""><?php echo $report["status"] ?></p></li>
						<li><p>处理人：</p><p><?php echo $report["op_username"] ?></p></li>
					</ul>
				</li>
			</ul>
		</div>
    </div>
</div>

<?php $this->load->view('web/common/footer_height.html');?>
